.fancy-button {
    width: 150px;
    height: 50px;
    display: block;
    margin: calc(50vh - 25px) auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: linear-gradient(45deg, yellow, red);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    animation: jump 0.5s 0.4s ease-in-out, rotate 0.5s ease-in-out, dissapire 1s 2s ease;
    -webkit-animation: jump 0.5s 0.4s ease-in-out, rotate 0.5s ease-in-out, dissapire 1s 2s ease;
    animation-fill-mode: forwards;
}
@keyframes jump {
    0% {
        top: 0;
    }
    50% {
        top: -40px;
    }
    100% {
        top: 0;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@keyframes dissapire {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to {
        transform: translateX(2000px);
        -webkit-transform: translateX(2000px);
        -moz-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        -o-transform: translateX(2000px);
    }
}
