body {
    box-sizing: border-box;
}
header {
    text-align: center;
}
.articles-list {
    display: flex;
    flex-wrap: wrap;
}
.article {
    box-sizing: border-box;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex: 1 1 300px;
}
