body {
    padding: 50px;
    box-sizing: border-box;
}
.padding {
    padding: 50px;
    border: 2px solid black;
}
.blueBox {
    background-color: blue;
}
.yellowBox {
    background-color: yellow;
}
.greenBox {
    background-color: green;
}
.pinkBox {
    background-color: pink;
}
