.padding {
    box-sizing: border-box;
    padding: 50px;
    border: 2px solid black;
}
.blueBox {
    margin: 50px;
    background-color: blue;
}
.yellowBox {
    background-color: yellow;
}
.greenBox {
    background-color: green;
}
.pinkBox {
    background-color: pink;
}
