body {
    margin: 0;
}
.header {
    box-sizing: border-box;
    height: 40px;
    background-color: yellow;
}
.navigation {
    height: 40px;
    display: flex;
    justify-content: flex-start;
}
.navItem {
    margin: 0 0 0 16px;
    line-height: 40px;
}
.content {
    display: flex;
    height: calc(100vh - 80px);
}

.pinkSection {
    background-color: pink;
    display: flex;
    width: calc(100vw - 200px);
    justify-content: center;
    align-items: center;
}
.pinkSection h2 {
    margin: auto;
    margin-block-start: 0;
    margin-block-end: 0;
}
.aside {
    box-sizing: border-box;
    width: 200px;
    background-color: grey;
    text-align: center;
}
.newsTitle {
    margin: 16px auto;
}
.newsList {
    line-height: 40px;
    text-align: left;
    padding-left: 16px;
}
li {
    list-style-type: none;
}
.footer {
    height: 40px;
    background-color: green;
    display: flex;
    justify-content: center;
}
.footerText {
    line-height: 40px;
    margin: auto;
}
